src/test/resources/Example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Customer">
		<xs:annotation>
			<xs:documentation>Пользователь</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия и имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="age" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Возраст</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>